html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.graphContainer {
	display: flex;
}

.barGraph1 {
	border: solid;
	width: 30em;
}

.barGraph2 {
	border: solid;
	width: 30em;
}

.barGraph3 {
	border: solid;
	width: 16em;
}

.sideTrack {
	/* border: solid; */
	word-break: break-all;
	font-size: 1.5em;
}

#streak {
	font-weight: bolder;
}

p {
	/* border: solid; */
	/* float: inline-flex; */
}
