:root {
	--blue: #26225d;
	--red: #da4127;
	--bone: #e2d8c9a6;
	--yellow: #e9c11b;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	background-image: url('/bg1.png');
}

::placeholder {
	color: var(--blue);
	font-style: italic;
	font-family: freight-display-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.2rem;
	opacity: 0.7;
}

:focus-visible {
	outline: 3px solid darkorange;
}

h1,
h2,
h3,
p {
	margin: unset;
	padding: unset;
}

h1 {
	color: var(--red);
	font-size: 2rem;
	font-family: freight-big-pro, serif;
	font-weight: 900;
	font-style: normal;
}
h2 {
	color: var(--blue);
	font-size: 1.5rem;
	font-family: freight-big-pro, serif;
	font-weight: 900;
	font-style: normal;
}
h3 {
	display: inline-block;
	color: var(--blue);
	font-size: 0.85rem;
}
span {
	color: var(--blue);
	font-family: freight-display-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}
span h3 {
	font-size: 1.1rem;
}
p {
	color: var(--blue);
	font-family: freight-display-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	border-color: var(--blue);
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 2px;
	background: none;
	height: 1.8rem;
}

input:focus-visible {
	outline: 0;
	background-color: var(--bone);
}

button {
	all: unset;
	color: var(--blue);
	font-weight: bold;
	position: relative;
	cursor: pointer;
	font-size: 1.5rem;
	font-family: freight-big-pro, serif;
	font-weight: 900;
}
button:hover {
	font-style: italic;
}
button:before {
	content: '';
	position: absolute;
	height: 50%;
	width: 110%;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	background-color: var(--yellow);
}

* {
	box-sizing: border-box;
}

.fade {
	animation-name: fade-in;
	animation-duration: 500ms;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.graphContainer {
	display: flex;
	justify-content: space-between;
}

.space {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.more {
	margin-bottom: 2rem;
}

.barGraph1 {
	max-width: 33vw;
}

.barGraph2 {
	max-width: 33vw;
}

.sideTrack {
	word-break: break-all;
	font-size: 1.5em;
	padding: 1rem 0;
}

#streak {
	font-weight: bolder;
}

#computerLargeStreak:hover {
	cursor: pointer;
}
#pseudoLargeStreak:hover {
	cursor: pointer;
}

/* Old previous */

.stage1Input {
	width: 90vw;
	max-width: 35rem;
}

.loadingScreen {
	display: flex;
	height: 85vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.loadingScreen h1 {
	font-size: 3rem;
}

.stage2Main {
	width: 80vw;
	min-height: 150vh;
	position: absolute;
	width: min(88%);
	left: 0;
	right: 0;
	margin-inline: auto;
	margin-top: 3rem;
}

.stage2Input {
	margin-top: 0.8rem;
	width: 97%;
}
.stage2Button {
	display: block;
	margin-top: 1rem;
}

.stage3Main {
	width: 80vw;
	min-height: 100vh;
	position: absolute;
	width: min(88%);
	left: 0;
	right: 0;
	margin-inline: auto;
	margin-top: 3rem;
}

.generateBox {
	width: 22rem;
	height: fit-content;
	margin-top: 1rem;
}
.generateBox h1 {
	font-size: 2rem;
}

.highlighted {
	background-color: var(--yellow);
}

.hoverNums:hover {
	color: var(--red);
}

@media (max-width: 1300px) {
	.graphContainer {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.generateBox {
		margin-top: unset;
		margin: 2rem 0;
	}
	.barGraph1 {
		max-width: unset;
	}

	.barGraph2 {
		max-width: unset;
	}
}

@media (max-width: 500px) {
	.loadingScreen h1 {
		font-size: 2rem;
	}
}
