.main {
	display: flex;
	height: 80vh;
	/* border: solid; */
	justify-content: center;
	align-items: center;
}

.stage1 {
	/* border: solid; */
}

.spacing1 {
	margin-bottom: 1rem;
}
.positioning2 {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.noCumulativeLayoutShift {
	position: absolute;
}
