.main {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: min(88%);
	left: 0;
	right: 0;
	margin-inline: auto;
}

.stage1 h1 {
	font-size: 3rem;
}

.spacing1 {
	margin-bottom: 1rem;
}
.positioning2 {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.noCumulativeLayoutShift {
	position: absolute;
}
